
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
	z-index: 800;
	height: 100%;
	width: 100%;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}
.no-js #preloader, .oldie #preloader {
	display: none;
}
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	padding: 0;
}

/*cubes*/
.sk-cube-grid {
  width: 40px;
  height: 40px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #36BABC;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
} 



/* -----------------navbar -------- */
.navbar{
    background-color: #36BABC ;
}
._navbar .nav-item {
    padding-left: 85px !important;
    padding-bottom: 0 !important;
    cursor: pointer;
    font-size: 18px;
}
.mail{
    font-size: 45px;
}
.__navbar .nav-link {
    padding-top: 0 !important;
    /* margin-top: 0 !important; */
    padding-left: 0px !important;
    padding-right: 0 px !important;
    cursor: pointer;
    font-size: 30px;
    color: white !important;
}
.nav-link{
    color: white !important;
}
._link:hover{
    color: yellow !important;
}
.fa-envelope-o{
    font-size: 55px;
}
.nav_logo{
    display: block;
   padding: 0 !important
}

.fa-bars{
    color: white !important;
}

@media(max-width:768px){
    .nav_logo{
        position: relative;
        left: -30px;
        /* padding-left: 0px !important; */
    }
    ._navbar .nav-item {
        padding-left: 0px !important;
        padding-bottom: 0 !important;
        cursor: pointer;
        font-size: 18px;
    }
    .line{
        display: none !important;
    }
}

.slideImage{
    height: 600px;
}
.section3{
    margin-top: 15px
}
.section3 h1{
    text-align: center;
     font-family: 'Niconne', cursive;
     font-size: 55px;
     color: teal;
}
.section3 p{
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    font-size: 35px;
    font-family: sans-serif;
}

/*----------------------- Event section -------------------*/

.event_section{
    margin-top: 15px;
}
.event_section h1{
    text-align: center;
     font-family: 'Niconne', cursive;
     font-size: 55px;
     color: teal;
}
.event_section p{
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    font-size: 18px;
    font-family: sans-serif;
}
.events_collection_s1 img{
    width: 300px;
}
.events_collection_s1{
    display: flex;
    max-width: 96%;
    margin:0 auto;
    justify-content: space-between;
    margin-top: 25px;
    flex-wrap: wrap;

}
.events_collection_s2{
    display: flex;
    max-width: 80%;
    margin:0 auto;
    justify-content: space-between;
    margin-top: 25px;
    flex-wrap: wrap;
}
.bottom-center{
    position: relative;
    top: -35px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}
.image_section{
    cursor: pointer;
    position: relative;

}
.animate__backInUp{
    display: none;
}
.image_section:hover > .bottom-center{
    transition: 1.5s;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    /* -webkit-transition: top 1s; */
    /* transition: top 1s; */

}
.footer_section{
    background-color: #36BABC;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
}
.footer_section h2{
    color: white !important;

}
.social_images{
    display: flex;
}

/*------------------ Services-------------------- */
.service_collection_s1{
    display: flex;
    max-width: 82%;
    margin:0 auto;
    justify-content: space-between;
    margin-top: 25px;
    flex-wrap: wrap;

}

/*------------- end of services---------------- */

/* -----------------contact ---------------*/

.contact{
    margin-top: 15px;
}
.contact h1{
    text-align: center;
     font-family: 'Niconne', cursive;
     font-size: 55px;
     color: teal;
}
.contact p{
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    font-size: 18px;
    font-family: sans-serif;
}


/* -----end of contact------------ */

/* --------responsive------------- */
@media(max-width:1385px){
    .events_collection_s2 img{
        width: 330px;
    }
    .events_collection_s2{
     max-width: 96%;

    }
}
 @media(max-width:690px){
    .events_collection_s1,.events_collection_s2{
        justify-content: center;
    }
    .image_section img{
        width: 280px;
    }
}
@media(max-width:400px){
    
    .image_section img{
        width: 280px;
    }
}

/* set header */
@media(max-width:992px){
    .events_collection_s2 img{
        width: 300px;
    }
    ._navbar .nav-item {
        padding-left: 45px !important;
    }
    .mail{
        font-size: 35px;
    }
}
@media(max-width:768px){
    ._navbar .nav-item {
        padding-left: 10px !important;
    }
    .mail{
        padding-left: 15px;
        font-size: 35px;
    }
}
/* set footer */

@media(max-width:575px){
    .footer_logo img{
        width: 90px;
    }
}
@media(max-width:320px){
    .f-email{
        font-size: 11px;
    }
}

/* ----loader----- */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


/* end of loader */


/* end of responsive */